* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Montserrat", sans-serif;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.header {
    height: 1024px;
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &__button {
        background: #9C0332;
        border-radius: 30px;
        width: 234px;
        height: 48px;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: #FFFFFF;
    }
}

.title {
    width: 788px;
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    padding-top: 217px;
}

.desc {
    width: 481px;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    color: #FFFFFF;
    padding-top: 32px;
    padding-bottom: 44px;
}

.bold {
    text-decoration: double;
}

.items {
    padding-top: 128px;
    padding-bottom: 128px;
    background: #000915;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 32px;

    &__1 {
        background-image: url(game1.png);
        background-repeat: no-repeat;
    }

    &__2 {
        background-image: url(game2.png);
        background-repeat: no-repeat;
    }

    &__3 {
        background-image: url(game3.png);
        background-repeat: no-repeat;
    }
}

.item {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
    width: 379px;
    height: 300px;
    display: flex;
    align-items: end;
    padding-left: 32px;
    padding-bottom: 32px;
    box-sizing: border-box;

    &:hover {
        border: #FFFFFF;
    }
}

@import 'mobile';